/* body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 392px;
height: 1424px;
left: 0px;
top: 156px;



/* chapterlevel filters */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;
isolation: isolate;

width: 392px;
height: 56px;
overflow-x: scroll;

background: #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* margin - l */

display: none;
width: 72px;
height: 32px;

background: #E1E8F5;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;

display: none;
width: 32px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Rectangle 4160 */

box-sizing: border-box;

display: none;
width: 1px;
height: 24px;

background: #D1D8E0;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;
isolation: isolate;

width: 79px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Icon-L */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 45px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Label */

width: 37px;
height: 20px;

/* label/sm-14 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Vector */

position: absolute;
left: 24.96%;
right: 24.96%;
top: 34.53%;
bottom: 34.53%;

background: #101319;


/* FocusRing */

position: absolute;
display: none;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;

border: 1px solid #323B4C;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot-R */

position: absolute;
display: none;
width: 8px;
height: 8px;
right: 6px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot-L */

position: absolute;
display: none;
width: 8px;
height: 8px;
left: 17px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;
isolation: isolate;

width: 77px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Icon-L */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 43px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Label */

width: 35px;
height: 20px;

/* label/sm-14 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* coolicon */

position: absolute;
left: 24.96%;
right: 24.96%;
top: 34.53%;
bottom: 34.53%;

background: #101319;


/* FocusRing */

position: absolute;
display: none;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;

border: 1px solid #323B4C;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot-R */

position: absolute;
display: none;
width: 8px;
height: 8px;
right: 6px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot-L */

position: absolute;
display: none;
width: 8px;
height: 8px;
left: 17px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Rectangle 4162 */

box-sizing: border-box;

width: 1px;
height: 24px;

background: #D1D8E0;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Rectangle 4161 */

display: none;
width: 1px;
height: 24px;

background: #EAEDF1;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* margin-r */

display: none;
width: 72px;
height: 32px;

background: #E1E8F5;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;
z-index: 7;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;
isolation: isolate;

width: 98px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Icon-L */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 86px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Label */

width: 78px;
height: 20px;

/* label/sm-14 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* FocusRing */

position: absolute;
display: none;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;

border: 1px solid #323B4C;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot-R */

position: absolute;
display: none;
width: 8px;
height: 8px;
right: 6px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot-L */

position: absolute;
display: none;
width: 8px;
height: 8px;
left: 17px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;
isolation: isolate;

width: 123px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;
z-index: 9;


/* Icon-L */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 111px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Label */

width: 103px;
height: 20px;

/* label/sm-14 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* FocusRing */

position: absolute;
display: none;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;

border: 1px solid #323B4C;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot-R */

position: absolute;
display: none;
width: 8px;
height: 8px;
right: 6px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot-L */

position: absolute;
display: none;
width: 8px;
height: 8px;
left: 17px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;

display: none;
width: 124px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;
z-index: 10;


/* Chip button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 2px;
isolation: isolate;

width: 141px;
min-width: 32px;
height: 32px;
min-height: 32px;

background: #FFFFFF;
border: 1px solid #D1D8E0;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 11;
flex-grow: 0;
z-index: 11;


/* Icon-L */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 107px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Label */

width: 99px;
height: 20px;

/* label/sm-14 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0065DE;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Vector */

position: absolute;
left: 17.71%;
right: 17.71%;
top: 17.71%;
bottom: 17.71%;

background: #0065DE;


/* FocusRing */

position: absolute;
display: none;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;

border: 1px solid #323B4C;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot-R */

position: absolute;
display: none;
width: 8px;
height: 8px;
right: 6px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot-L */

position: absolute;
display: none;
width: 8px;
height: 8px;
left: 17px;
top: 6px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* overflow-l */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

position: absolute;
display: none;
width: 80px;
height: 56px;
left: 0px;
top: calc(50% - 56px/2);

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 12;
flex-grow: 0;
z-index: 12;


/* overflow-r */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

position: absolute;
width: 80px;
height: 56px;
right: 0px;
top: calc(50% - 56px/2);

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 13;
flex-grow: 0;
z-index: 13;


/* Gradient with mask */

width: 40px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* gradient */

position: absolute;
width: 40px;
height: 56px;
left: 0px;
top: 0px;

background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 95.83%, #FFFFFF 95.83%);


/* color */

position: absolute;
width: 40px;
height: 56px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* arrow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 4px;

width: 40px;
height: 56px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* arrow */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;

width: 32px;
height: 32px;

background: #FFFFFF;
border-radius: 28px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Right arrow 123 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 34.38%;
right: 34.38%;
top: 21.88%;
bottom: 21.88%;

background: #101319;


/* overflow cta */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

position: absolute;
display: none;
width: 80px;
height: 56px;
right: 0px;
top: calc(50% - 56px/2);

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 14;
flex-grow: 0;
z-index: 14;


/* Section seperator */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 16px;

width: 392px;
height: 48px;
min-height: 48px;

background: #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 8px 8px 0px;
gap: 4px;

width: 305px;
height: 34px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Heading */

width: 297px;
height: 18px;

/* 14px/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
display: flex;
align-items: flex-end;

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Description goes here */

display: none;
width: 214px;
height: 16px;

/* 12px/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
display: flex;
align-items: flex-end;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Buttons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 59px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Btn-2

<p>Button, Btn</p><p><br></p>
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 2px;
isolation: isolate;

width: 59px;
height: 36px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-L-container */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* ArrowsDownUp */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 15.62%;
right: 15.63%;
top: 15.62%;
bottom: 15.62%;

background: #0065DE;


/* Dot-L */

position: absolute;
visibility: hidden;
width: 8px;
height: 8px;
right: 0px;
top: 0px;

background: #E02A2F;
border: 2px solid #FFFFFF;
border-radius: 4px;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 4px;
gap: 4px;

width: 37px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Text */

width: 29px;
height: 18px;

/* 14px/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;

color: #0065DE;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R-Container */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Focus ring */

box-sizing: border-box;

position: absolute;
display: none;
left: -4px;
right: -4px;
top: -4px;
bottom: -4px;

border: 2px solid #101319;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Btn-1

<p>Button, Btn</p><p><br></p>
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 2px;

display: none;
width: 53px;
height: 36px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chapter list */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 392px;
height: 1320px;

background: #F2F5FB;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 5.81%;
right: 59.81%;
top: 30.11%;
bottom: -20.74%;

border: 1.5px solid #FCC29C;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 5.81%;
right: 3.56%;
top: 69.89%;
bottom: -4.26%;

border: 1.5px solid #F76707;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 45.31%;
right: 45.31%;
top: 45.31%;
bottom: 45.31%;

background: #F76707;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.5%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 251px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 57px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 144px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 7.55%;
right: 7.56%;
top: 7.54%;
bottom: 7.56%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 130px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 25%;
top: 81.25%;
bottom: -56.25%;

background: #101319;
transform: rotate(-90deg);


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 15.62%;
bottom: 21.88%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 9.38%;
bottom: 9.38%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector 12 */

position: absolute;
width: 18px;
height: 18px;
left: 3px;
top: 3px;

border: 1.5px solid #1C7ED6;


/* Vector 13 */

position: absolute;
width: 0px;
height: 4.15px;
left: 13.44px;
top: 10.5px;

border: 1.5px solid #A4CBEF;
transform: rotate(45deg);


/* Vector 14 */

position: absolute;
width: 0px;
height: 4.4px;
left: 13.62px;
top: 13.62px;

border: 1.5px solid #A4CBEF;
transform: rotate(135deg);


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 255px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 53px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

display: none;
width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 15.62%;
right: 15.63%;
top: 6.24%;
bottom: 6.25%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
left: 38.24%;
right: 8.33%;
top: 8.33%;
bottom: 9.02%;

background: #CFA2D9;
border: 0.2px solid #FFFFFF;


/* Vector */

box-sizing: border-box;

position: absolute;
visibility: hidden;
left: 7.06%;
right: 8.33%;
top: 9.03%;
bottom: 8.33%;

background: #101319;
border: 1px solid #AE3EC9;


/* Rectangle 72 */

box-sizing: border-box;

position: absolute;
left: 35.52%;
right: 31.92%;
top: 30.05%;
bottom: 37.39%;

border: 1.5px solid #AE3EC9;
border-radius: 2px;
transform: rotate(45deg);


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-R */

display: none;
width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 9;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 5.81%;
right: 59.81%;
top: 30.11%;
bottom: -20.74%;

border: 1.5px solid #FCC29C;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 5.81%;
right: 3.56%;
top: 69.89%;
bottom: -4.26%;

border: 1.5px solid #F76707;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 45.31%;
right: 45.31%;
top: 45.31%;
bottom: 45.31%;

background: #F76707;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 10;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.5%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 11;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 7.55%;
right: 7.56%;
top: 7.54%;
bottom: 7.56%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 12;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 25%;
top: 81.25%;
bottom: -56.25%;

background: #101319;
transform: rotate(-90deg);


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 244px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 64px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 13;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 5.81%;
right: 59.81%;
top: 30.11%;
bottom: -20.74%;

border: 1.5px solid #FCC29C;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 5.81%;
right: 3.56%;
top: 69.89%;
bottom: -4.26%;

border: 1.5px solid #F76707;
transform: rotate(-45deg);


/* Vector */

position: absolute;
left: 45.31%;
right: 45.31%;
top: 45.31%;
bottom: 45.31%;

background: #F76707;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 250px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 58px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 145px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Chapter card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 16px;
gap: 16px;
isolation: isolate;

width: 392px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 14;
align-self: stretch;
flex-grow: 0;


/* Chapter icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.5%;

background: #505D79;


/* Chapter-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* name & qs */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Chapter-name */

width: 249px;
height: 24px;

/* label/base-16 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101319;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 113/205 Qs */

width: 59px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* High Output Low Input */

width: 128px;
height: 16px;

/* body/xs-12 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #505D79;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

position: absolute;
width: 336px;
height: 0px;
right: 0px;
bottom: 0px;

opacity: 0;
border: 1px solid #D1D8E0;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
